RewriteEngine On

# If the requested filename exists, use it.
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested directory exists, use it.
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise, redirect to index.php.
RewriteRule ^ index.php [L]
